.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.landing-page, .slider {
  height: 100vh;
}

.container {
  z-index: 1;
  align-items: center;
  display: flex;
  position: relative;
}

.nav-link {
  -webkit-text-stroke-width: .3px;
  font-family: Red Hat Mono, sans-serif;
  font-size: 1.1em;
}

.nav-link:hover {
  color: #57abc6;
}

.navbar {
  opacity: 1;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border-bottom: 1px solid #000;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.grid {
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1.5fr;
  align-items: center;
}

.div-block {
  z-index: auto;
  width: 100%;
  height: 12.5%;
  opacity: .16;
  background-color: #fff;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-about {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.paragraph {
  font-family: Urbanist, sans-serif;
  font-size: 1.4em;
}

.container-2 {
  width: 100vw;
  height: 100vh;
}

.services-slider {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.services-slider.borehole, .services-slider.groundwater, .services-slider.well-drilling, .services-slider.pv-solar {
  position: relative;
}

.slider-borehole-design {
  width: 100%;
  height: 100%;
}

.slide-borehole-design {
  align-items: flex-end;
  padding-top: 0;
  display: flex;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.paragraph-2 {
  color: #333;
  text-align: right;
  font-family: Urbanist, sans-serif;
  font-size: 1.8em;
  line-height: 1.3em;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.slide-description {
  z-index: 6;
  width: 35%;
  color: #333;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 14%;
  bottom: 0%;
  left: auto;
  right: 5%;
}

.heading {
  color: #333;
  text-align: right;
  font-family: Urbanist, sans-serif;
  font-size: 2.6em;
}

.heading.careers {
  text-align: left;
}

.slide-description-light {
  z-index: 6;
  width: 50%;
  color: #fff;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 14%;
  bottom: 0%;
  left: auto;
  right: 5%;
}

.slide-description-light.groundwater {
  top: auto;
  bottom: 5%;
  left: auto;
  right: 5%;
}

.slide-description-light.well-drilling {
  width: 35%;
}

.slide-description-light.solar-pv-system-dark {
  text-align: right;
  top: auto;
  bottom: 5%;
  left: auto;
  right: 5%;
}

.slider-groundwater {
  width: 100%;
  height: 100%;
}

.section-careers, .section-contact {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.grid-2 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

.heading-2 {
  font-family: Urbanist, sans-serif;
  font-size: 2em;
}

.paragraph-3 {
  font-family: Urbanist, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
}

@media screen and (max-width: 767px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .section-contact {
    padding-left: 5%;
    padding-right: 5%;
  }

  .paragraph-3 {
    min-width: .8em;
  }

  .container-3 {
    padding-left: 5%;
    padding-right: 5%;
  }
}

#w-node-_4fa51898-2531-2019-a2c4-f404da3e0a34-36a95846 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_605ec532-b7e4-001c-45c4-ab185ac05b60-36a95846, #w-node-e915e8f2-c3bc-af66-78b9-ca3f51b10ab8-36a95846, #w-node-e915e8f2-c3bc-af66-78b9-ca3f51b10abb-36a95846, #w-node-_46b51828-9024-a377-c41c-75c3b43325f2-36a95846, #w-node-_67b58176-7a73-1689-a4be-da96e274c468-36a95846 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


