/* global */
body {
    background-color: aliceblue;
    font-family: 'Albert Sans', sans-serif;
    color: darkslategray;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.img-container {
    height: 100vh;
    width: 100%;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

svg {
    vertical-align: middle;
    margin-left: 4px;
    z-index: 0;
}

p {
    font-family: 'IBM Plex Sans', serif;
    font-size: 20px;
    line-height: 1.2;
}

button {
    font-family: "Albert Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #57abc6;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    z-index: 1000;
}

/* home */
#home {
    display: flex;
    height: 100vh;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.scroll-section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    z-index: 0;

}

.intro {
    display: flex;
    position: absolute;
    padding: 64px;
    width: 50%;
    font-size: 86px;
    color: aliceblue;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    z-index:560;
}

/* about */
#about {
    display: flex;
    position: relative;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-img-wrapper {
    display: flex;
    flex: 1;
    height: 100%;
}


.about-text-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 32px;
    align-items: left;
    justify-content: center;
    min-height: 100vh;
}

/* services */
#services {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 80px 0px;
    min-height: 100vh;
}

.services-wrapper {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 32px;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    padding: 0px;
    width: 100%;
}

.service-container {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    padding: 32px;


}

.service-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.service-button-wrap {
    display: flex;
    align-self: flex-end;
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    
}

/* career */
#career {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

/* clients */
#clients {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    width: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 64px 0px;
    padding: 0px 32px;
    position: relative;
}

.client-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    row-gap: 64px;
    margin: 64px 0px;
}

.client {
    display: flex;
    height: 200px;
    width: auto;
    align-items: center;
    justify-content: center;
}

.client-img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1440px) {
    .intro {
        font-size: 64px;
    }



    .services-grid {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .client-grid {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .client {
        height: auto;
        width: 100%;
    }

    .client-img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 768px) {
    p {
        font-size: 18px;
    }

    .intro {
        display: flex;
        position: absolute;
        padding: 16px;
        max-width: 100vw;
        font-size: 36px;
    }

    #home {
        max-width: 100vw;
    }

    .img-container {
        display: flex;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }
    
    .img {
        height: 100%;
        width: 100%;
        object-fit: cover;
       
    }

    #about {
        flex-direction: column;
        width: 100vw;
    }

    .about-img-wrapper {
        display: flex;
        height: 100vh;
        width: 100vw;
        padding: 0;
    }
  
    .about-text-wrapper {
        display: flex;
        align-items: left;
        justify-content: top;
        padding: 16px;
    }

    .services-wrapper {
        margin: 0px 16px;
    }

    .services-grid {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #clients {
        padding: 0px 16px;
    }

    .client-grid {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 0px;
        gap: 0px;
    }

}

@media screen and (max-width: 667px) {
    .intro {
        font-size: 36px;
    }
    
}