/* global */
body {
    background-color: aliceblue;
    font-family: 'Albert Sans', sans-serif;
    color: darkslategray;
    margin: 0px;
    overflow-x: hidden;

}


.img-container {
    height: 100%;
    width: 100%;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

svg {
    vertical-align: middle;
    margin-left: 4px;
    z-index: 0;
}

p {
    font-family: 'Buenard', serif;
    font-size: 20px;
    line-height: 1.2;
}

button {
    font-family: "Albert Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #57abc6;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    color: aliceblue;
    z-index: 1000;
}


/* Home */
#home {
    display: flex;
    height: 100vh;
    align-items: center;
}

.scroll-section {
    display: flex;
    height: 100vh;
    align-items: center;
    z-index: 0;
}

.intro {
    display: flex;
    position: absolute;
    padding: 64px;
    width: 50%;
    font-size: 86px;
    color: aliceblue;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    z-index:560;
}


/* About */
#about {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-img-wrapper {
    display: flex;
    flex: 1;

}

.about-text-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 32px;
    align-items: left;
    justify-content: center;
}


/* Services */
#services {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 80px;

}

.services-wrapper {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 32px;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    padding: 0px;
    width: 100%;
}

.service-container {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    padding: 32px;


}

.service-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.service-button-wrap {
    display: flex;
    align-self: flex-end;
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    
}


/* Career */
#career {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

/* Clients */
#clients {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 64px 0px;
}

.client-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    row-gap: 64px;
    margin: 64px 0px;
}

.client {
    display: flex;
    height: 200px;
    width: auto;
    align-items: center;
    justify-content: center;

}

.client-img {
    width: auto;
    height: 100%;
    object-fit: contain;
}