/* root */

body {
    background-color: aliceblue;
    font-family: 'Albert Sans', sans-serif;
    color: darkslategray;
    margin: 0px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: left;
    justify-content: center;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.header-right {
    display: flex;
    justify-content: center;
    text-justify: center;
}

.text-wrap {
    padding: 32px;
}

p, li {
    font-family: 'Buenard', serif;
    font-size: 20px;
    line-height: 1.2;
}

.background {
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

hr {
    height: 1px; /* Thickness of the line */
    background-color: darkslategray;
    border: none; /* Remove default border */
    margin: 20px 0; /* Space above and below the line */
    width: 100%; /* Width of the line */
    margin-left: auto; /* Center the line */
    margin-right: auto; /* Center the line */
}


.wrapper {
    display: flex;
    flex-direction: column;
}


.service-description {
width: 33%;
    color: aliceblue;
    margin: 32px 0px;
}

.display-text {
    position: sticky;
    top: 80px;
    font-size: 48px;
    color: darkslategray;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.services-column {
    width: 66.7%;
    z-index: 2;
}
 
.service-container {
    display:flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.69);
    padding: 56px 32px;
    border: 1px solid darkslategray;
    margin-bottom: 32px;
    z-index: 2;
}

#intro {
    height: calc(100vh - 80px);
    padding-top: 80px;
    display: flex;
    flex-direction: row;

}

.services-about {
    display: flex;
    flex-direction: column;

    flex: 1;
    padding: 0px 32px;
}

.services-about h1 {
    font-size: 52px;
    color: darkslategray;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.services-wrapper {
    display: flex;
    top: 0;
    flex-direction: row;
    padding: 80px 32px;
    height: 100%;
    z-index: 2;
    background-attachment: fixed;

}

.services-wrapper::-webkit-scrollbar {
    display: none;
  }


.project-image {
    display: flex;
    flex: 2;
    width: 100%;
    height: 100%;
    

}

/* Project */
#project {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.showcase {
    display: flex;
    flex-direction: column;
    border: 1px solid darkslategray;
    margin: 16px 32px;
    padding: 16px;
}

.project {
    display: flex;
    flex-direction: row;
    position: relative;
}

.project-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-description {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.showcase {
    display: flex;
}

@media screen and (max-width: 1440px) {
    .services-about-wrapper {
        flex-direction: column;
        height: 100%;
    }

    .services-wrapper {
        flex-direction: column;
    }

    .services-column {
        width: 100%;
        z-index: 2;
    }

    .project {
        flex-direction: column;
    }
}